extends layout
extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +img-responsive("/images/test1.png","The colenso Project")
  +navbar("")
    +nav_item("/") Home
    +nav_item("/fileList","active") View All Documents
    +nav_item("/search/searchByString") Search By String
    +nav_item("/search/searchByXQuery") Search By XQuery
  .container
    h1 Colenso Database
    .container
          each val in list
            li.list-group-item: a(href = "/viewFile?file=/" + val)
              !{val}
